* {
    box-sizing: border-box;
}

body {
    background: #fff;
    justify-content: center;
    min-width: 300px;
    max-width: 1800px;
    margin: 0 auto;
}

.container {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.text {
    font-size: 30px;
    font-weight: 900;

    &--gradient {
        background: -webkit-linear-gradient(rgb(81, 207, 109), rgb(35, 114, 233));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &--color {
        color: rgb(231, 88, 52);
    }

    &--black {
        color: rgb(0, 0, 0);
    }

    &--italic {
        font-style: italic;
        font-weight: 400;
    }

    &--shadow {
        color: rgb(255, 255, 255);
        text-shadow: 5px 5px 10px rgb(0, 0, 0);
    }

    &--picture {
        background: url(/src/img/bg.jpg) no-repeat center/cover;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &--gorgia {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    &--cursive {
        font-family: cursive;
    }

    &--soft-with-shadow {
        color: rgba(95, 233, 114, 0.842);
        text-shadow: 5px 5px 10px rgb(0, 0, 0);
    }


}